<div class="padding-16 top-header">
  <app-back-button></app-back-button>
  <ion-label class="margin-left-16">Edit Profile</ion-label>
</div>

<ion-content>
<div class="margin-32 col">
  <div class="row align-items-center margin-bottom-16">
    <div class="profile-picture-circle margin-right-16"></div>
    <ion-label class="title-rg">Change Picture</ion-label>
  </div>
  <ion-label class="title-lg margin-bottom-8">Basic Information</ion-label>
  <ion-list>
    <ion-item class="col">
      <ion-label position="stacked">First Name</ion-label>
      <ion-input clearInput placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item class="col">
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input clearInput placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item class="col">
      <ion-label position="stacked">email</ion-label>
      <ion-input clearInput placeholder="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="title-rg" position="floating">Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" max="2020-01-01"></ion-datetime>
    </ion-item>
    <ion-item class="col">
      <ion-label position="stacked">Country</ion-label>
      <ion-input clearInput placeholder="Country"></ion-input>
    </ion-item>
    <ion-item class="col">
      <ion-label position="stacked">City</ion-label>
      <ion-input clearInput placeholder="City"></ion-input>
    </ion-item>
  </ion-list>
  <ion-label class="title-lg margin-bottom-8">Professional Information</ion-label>
  <ion-list>
    <ion-item class="col">
      <ion-label position="stacked">Domain of Experience</ion-label>
      <ion-input clearInput placeholder="domain of experience"></ion-input>
    </ion-item>
    <ion-item class="col">
      <ion-label position="stacked">Experience Level</ion-label>
      <ion-input clearInput placeholder="experience level"></ion-input>
    </ion-item>
  </ion-list>

</div>
</ion-content>
