<div class="padding-16 top-header">
  <div class="row tool-bar space-between">
    <app-back-button></app-back-button>
    <span class="justify-content-center" [routerLink]="['/home/profile/edit-profile']"><span class="title-sm">{{ 'PROFILE.title' | translate }}</span> <ion-icon name="pencil-outline" slot="end"></ion-icon></span>
  </div>
<div class="col profile-header" *ngIf="!!profile">
  <div id="profileCircle" class="profile-picture-circle"></div>
  <ion-label class="title-lg">{{profile.name}}</ion-label>
  <ion-label class="title-sm">{{profile.city.display_name}}</ion-label>
  <ion-label class="title-sm">{{profile.DOEX.name_EN}}</ion-label>
  <ion-label class="title-sm">{{!!profile.DOB ? calculatAge() : 'AGE'}} {{ 'PROFILE.yearsOld' | translate }}</ion-label>
</div>
</div>

<ion-content *ngIf="!!profile">
  <div class="row space-between margin-left-32 margin-right-32 margin-top-16 margin-bottom-16">
    <div class="col align-items-center">
      <ion-label class="title-sm"> {{ 'PROFILE.rating' | translate }}</ion-label>
      <ion-label class="title-md">
        <ion-icon name="star" class="icon-yellow"></ion-icon>
        {{!!profile.rating_avaerage ? profile.rating_avaerage : '0'}}
      </ion-label>
    </div>
    <div class="col align-items-center">
      <ion-label class="title-sm"> {{ 'PROFILE.experience' | translate }}</ion-label>
      <ion-label class="title-md">{{!!profile.YOEX.year ? profile.YOEX.year : '0'}}</ion-label>
    </div>
    <div class="col align-items-center">
      <ion-label class="title-sm"> {{ 'PROFILE.views' | translate }}</ion-label>
      <ion-label class="title-md">{{!!profile.profile_views ? profile.profile_views : '0'}}</ion-label>
    </div>
  </div>
  <div class="margin-left-32 margin-right-32">
    <div class="col margin-bottom-16">
      <ion-label class="title-lg margin-bottom-8"> {{ 'PROFILE.contact' | translate }}</ion-label>
      <ion-label class="title-sm margin-bottom-8">{{profile.email}}</ion-label>
      <ion-label class="title-sm margin-bottom-8">{{profile.phone}}</ion-label>
    </div>
    <ion-label class="title-lg margin-bottom-16"> {{ 'PROFILE.topSkills' | translate }}</ion-label>
    <div class="margin-bottom-16">
      <div class="chips-box">
        <div *ngFor="let skill of profile.tags" class="ion-chip margin-right-4">
          <ion-label>{{skill}}</ion-label>
        </div>
      </div>
      <ion-label class="title-sm" *ngIf="1 > profile.tags.length">
        No skills added</ion-label>
    </div>
    <ion-label class="title-lg margin-bottom-32"> {{ 'PROFILE.yourVideo' | translate }}</ion-label>
    <div class="justify-content-center margin-bottom-16 video-container"
    [ngClass]="{'no-video': !profile.video}">
      <video *ngIf="!!profile.video"
      controls style="width: auto; height: auto;" 
      [src]="profile.video"
      #video>
      </video>
    </div>
    <div class="margin-bottom-32" (click)="goToStartRecording()">
      <ion-label class="title-md">{{ 'PROFILE.updateVideo' | translate }}</ion-label>
    </div>
  </div>
</ion-content>
