<div class="padding-16 top-header">
  <app-back-button></app-back-button>
  <ion-label class="margin-left-16">{{ 'FILL_NEW_PROFILE.title' | translate }}</ion-label>
</div>
<div class="steps-header row padding-16 space-between">
  <div class="row align-items-center">
    <div class="circle off"><span class="title-rg">1</span></div>
    <span class="margin-left-4 margin-right-4 title-sm">{{ 'FILL_NEW_PROFILE.register' | translate }}</span>
  </div>
  <div class="row align-items-center">
    <div class="circle activated"><span class="title-rg">2</span></div>
    <span class="margin-left-4 margin-right-4 title-sm">{{ 'FILL_NEW_PROFILE.profile' | translate }}</span>
  </div>
  <div class="row align-items-center">
    <div class="circle off"><span class="title-rg">3</span></div>
    <span class="margin-left-4 margin-right-4 title-sm">{{ 'FILL_NEW_PROFILE.video' | translate }}</span>
  </div>
</div>

<ion-content>
  <div class="margin-32 col">
    <div class="row align-items-center margin-bottom-16">
      <div class="profile-picture-circle margin-right-16" #profilePicture></div>
      <ion-label class="title-rg" (click)="pickImage()">{{ 'FILL_NEW_PROFILE.changePicture' | translate }}</ion-label>
    </div>
    <ion-label class="title-lg margin-bottom-8 margin-top-16">{{ 'FILL_NEW_PROFILE.basicInformation' | translate }}</ion-label>
    <ion-list>
      <ion-item class="col">
        <ion-label position="stacked">{{ 'SIGNUP.firstName' | translate }}</ion-label>
        <ion-input clearInput placeholder="First Name" [(ngModel)]="user.first_name"></ion-input>
      </ion-item>
      <ion-item class="col">
        <ion-label position="stacked">{{ 'SIGNUP.lastName' | translate }}</ion-label>
        <ion-input clearInput placeholder="Last Name" [(ngModel)]="user.last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="title-rg" position="floating">{{ 'FILL_NEW_PROFILE.dob' | translate }}</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" max="2020-01-01" [(ngModel)]="user.DOB"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="title-rg" position="stacked">{{ 'FILL_NEW_PROFILE.country' | translate }}</ion-label>
        <ionic-selectable
          [(ngModel)]="country"
          [items]="countries"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="countryChange($event)">
        </ionic-selectable>
      </ion-item>
      <ion-item *ngIf="!!country">
        <ion-label class="title-rg" position="stacked">{{ 'FILL_NEW_PROFILE.city' | translate }}</ion-label>
        <ionic-selectable
          [(ngModel)]="city"
          [items]="filteredCities"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="cityChange($event)">
        </ionic-selectable>
      </ion-item>
    </ion-list>
    <ion-label class="title-lg margin-bottom-8 margin-top-16">{{ 'FILL_NEW_PROFILE.professionalInformation' | translate }}</ion-label>
    <ion-list>
      <ion-item class="col">
        <ion-label position="stacked" class="title-rg" >{{ 'FILL_NEW_PROFILE.domainOfExpertise' | translate }}</ion-label>
        <ionic-selectable
          [(ngModel)]="domain"
          [items]="domains"
          itemValueField="id"
          itemTextField="name_EN"
          [canSearch]="true"
          (onChange)="cityChange($event)">
        </ionic-selectable>
      </ion-item>
      <ion-item class="col">
        <ion-label position="stacked">{{ 'FILL_NEW_PROFILE.experience' | translate }}</ion-label>
        <ionic-selectable
        [(ngModel)]="level"
        [items]="levels"
        itemValueField="id"
        itemTextField="title"
        [canSearch]="true"
        (onChange)="levelChange($event)">
      </ionic-selectable>
      </ion-item>
    </ion-list>
    
    <ion-label class="title-lg margin-bottom-8 margin-top-16">{{ 'FILL_NEW_PROFILE.publicProfessionalProfiles' | translate }}</ion-label>
    <ion-list>
      <ion-item class="col">
        <ion-input clearInput placeholder="url" [(ngModel)]="url"></ion-input>
      </ion-item>
    </ion-list>
    <ion-label class="title-lg margin-bottom-8 margin-top-16">Tags</ion-label>
    <ion-item>
      <ion-input clearInput placeholder="add skills" [(ngModel)]="tagInput">
      </ion-input>
      <ion-button slot="end" (click)="addTag(tagInput)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div *ngIf="tags.length > 0">
      <ion-chip *ngFor="let tag of tags" color="primary">
        <ion-icon name="tag" color="primary"></ion-icon>
        <ion-label>{{tag}}</ion-label>
        <ion-icon name="close-circle-outline" (click)="clearTag(tag)"></ion-icon>
      </ion-chip>
    </div>
  </div>
</ion-content>

<ion-footer class="padding-8" style="direction: rtl;">
  <ion-button (click)="submitData()">
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      {{ 'FILL_NEW_PROFILE.confirm' | translate }}
    </ion-label>
  </ion-button>
</ion-footer>