<div class="padding-16 top-header">
  <app-back-button></app-back-button>
  <ion-label class="margin-left-16">Build Your profile</ion-label>
</div>
<div class="steps-header row padding-16 space-between">
  <div class="row align-items-center">
    <div class="circle off"><span class="title-rg">1</span></div>
    <span class="margin-left-4 margin-right-4 title-sm">Register</span>
  </div>
  <div class="row align-items-center">
    <div class="circle activated"><span class="title-rg">2</span></div>
    <span class="margin-left-4 margin-right-4 title-sm">Fill Profile</span>
  </div>
  <div class="row align-items-center">
    <div class="circle off"><span class="title-rg">3</span></div>
    <span class="margin-left-4 margin-right-4 title-sm">Take The Video</span>
  </div>
</div>

<ion-content>
  <div class="margin-32 col">
    <div class="row align-items-center margin-bottom-16">
      <div class="profile-picture-circle margin-right-16" #profilePicture></div>
      <ion-label class="title-rg" (click)="pickImage()">Change Picture</ion-label>
    </div>
    <ion-label class="title-lg margin-bottom-8 margin-top-16">Basic Information</ion-label>
    <ion-list>
      <ion-item class="col">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input clearInput placeholder="First Name" [(ngModel)]="user.first_name"></ion-input>
      </ion-item>
      <ion-item class="col">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input clearInput placeholder="Last Name" [(ngModel)]="user.last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="title-rg" position="floating">Date of Birth</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" max="2020-01-01" [(ngModel)]="user.DOB"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="title-rg" position="stacked">Country</ion-label>
        <ionic-selectable
          [(ngModel)]="country"
          [items]="countries"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="countryChange($event)">
        </ionic-selectable>
      </ion-item>
      <ion-item *ngIf="!!country">
        <ion-label class="title-rg" position="stacked">City</ion-label>
        <ionic-selectable
          [(ngModel)]="city"
          [items]="filteredCities"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="cityChange($event)">
        </ionic-selectable>
      </ion-item>
    </ion-list>
    <ion-label class="title-lg margin-bottom-8 margin-top-16">Professional Information</ion-label>
    <ion-list>
      <ion-item class="col">
        <ion-label position="stacked" class="title-rg" >Domain of Expertise</ion-label>
        <ionic-selectable
          [(ngModel)]="domain"
          [items]="domains"
          itemValueField="id"
          itemTextField="name_EN"
          [canSearch]="true"
          (onChange)="cityChange($event)">
        </ionic-selectable>
      </ion-item>
      <ion-item class="col">
        <ion-label position="stacked">Experience Level</ion-label>
        <ionic-selectable
        [(ngModel)]="level"
        [items]="levels"
        itemValueField="id"
        itemTextField="title"
        [canSearch]="true"
        (onChange)="levelChange($event)">
      </ionic-selectable>
      </ion-item>
    </ion-list>
    
    <ion-label class="title-lg margin-bottom-8 margin-top-16">Public Professional Profiles</ion-label>
    <ion-list>
      <ion-item class="col">
        <ion-input clearInput placeholder="url" [(ngModel)]="url"></ion-input>
      </ion-item>
      <div class="row align-items-center margin-8" (click)="addUrl()">
        <div class="circle-add-button add">+</div>
        <span class="margin-left-8 title-sm">add more</span>
      </div>
      <ion-item class="row" *ngFor="let url of urls, let i = index">
        <ion-input placeholder="url" [(ngModel)]="urls[i]"></ion-input>
        <div class="row align-items-center margin-top-8" (click)="clearUrl(url)">
          <div class="circle-add-button warning">x</div>
        </div>
      </ion-item>
    </ion-list>
    <ion-label class="title-lg margin-bottom-8 margin-top-16">Tags</ion-label>
    <ion-item>
      <ion-input clearInput placeholder="add skills" [(ngModel)]="tagInput">
      </ion-input>
      <ion-button slot="end" (click)="addTag(tagInput)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div *ngIf="tags.length > 0">
      <ion-chip *ngFor="let tag of tags" color="primary">
        <ion-icon name="tag" color="primary"></ion-icon>
        <ion-label>{{tag}}</ion-label>
        <ion-icon name="close-circle-outline" (click)="clearTag(tag)"></ion-icon>
      </ion-chip>
    </div>
  </div>
</ion-content>

<ion-footer class="padding-8" style="direction: rtl;">
  <ion-button (click)="submitData()">
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      Confirm & Continue
    </ion-label>
  </ion-button>
</ion-footer>