<ion-header> </ion-header>

<ion-content>
  <form class="justify-content-center" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="col align-content-center">
      <ion-img
        style="height: 80px; width: 80px;"
        src="./assets/logo.png"
      ></ion-img>
      <ion-item class="col">
        <ion-label position="floating">{{ 'LOGIN.email' | translate }}</ion-label>
        <ion-input type="text" class="no-padding" formControlName="email" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Email is required.
      </span>
      <ion-button type="submit">{{ 'RESET_PASSWORD.resetPassword' | translate }}</ion-button>
      <ion-label class="links margin-top-10">{{ 'LOGIN.noAccount' | translate }}?<span [routerLink]="['/signup']"> {{ 'LOGIN.signup' | translate }}</span></ion-label>
      <ion-label class="links margin-top-32"><span [routerLink]="['/login']">Go back to login</span></ion-label>
    </div>
  </form>
</ion-content>
