:host {
    @import "../../../../theme/helper-classes.scss";
    .align-content-center {
        @include flex-box(column);
        align-items: center;
    }

    .justify-content-center {
        height: 100%;
        justify-content: center;
        @include flex-box(column);
    }

    ion-item {
        color: var(--ion-custom-color-common);
        font-size: 14px;
    }

    .links {
        // margin-top: 20px;
        @include font-size(8);
        span {
            color: var(--ion-custom-color-primary);
            font-weight: 600;
        }
    }
    
    ion-item {
        --padding-start: 0;
        width: 65%;
    }

    ion-button {
        margin: 16px;
        --border-radius: 8px;
        width: 65%;
    }
}