<div class="row">
  <div>
    <div class="image-circle margin-right-10" #profileCircle></div>
  </div>
  <div class="card-item col space-between content margin-left-16" (click)="navigateToJobDetails()" >
    <div class="col">
      <ion-label class="title">{{jobTitle}}</ion-label>
    <div class="row padding-top-20">
      <ion-label class="small-font">{{jobItem.country.name}}</ion-label>
      <ion-label class="small-font">, {{jobItem.city.name}}</ion-label>
    </div>
    <ion-label class="tiny-font margin-right-8">{{caculateDays() > 1 ? caculateDays() + ' days' : caculateDays() + ' day'}} ago</ion-label>
  </div>
  <div class="col">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  </div>
</div>

