@import './../../../theme/helper-classes.scss';
:host {
    width: 100%;
    .card-item {
        @include flex-box(row);
        padding: 8px;
        background-color: #efefef;
        border-radius: 13px;
        ::shadow {
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .image-circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: rgb(151, 151, 151);
    }

    .content {
        width: 100%;
    }
    .space-between {
        @include flex-box(row);
        justify-content: space-between;
        align-items: center;
    }
    .title {
        font-weight: 600px;
        @include font-size(10);
    }
    .small-font {
        @include font-size(8);
        color: #ABABAB;
    }
    .tiny-font {
        @include font-size(7);
        color: #ABABAB;
    }
}