<ion-app>
  <ion-split-pane content-id="main-content">
    <ion-menu side="start" menuId="menu" type="push" content-id="main-content" swipe-gesture="false">
    <ion-content>
      <div class="margin-16" translucent>
        <ion-label>{{ 'MENU.title' | translate }}</ion-label>
      </div>
      <ion-list>
        <ion-item style="cursor: pointer;" [routerLink]="['/home/profile']" (click)="helper.closeMenu('menu')">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>{{ 'MENU.profile' | translate }}</ion-label>
        </ion-item>
        <ion-item style="cursor: pointer;" [routerLink]="['/home/settings']">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>{{ 'MENU.settings' | translate }}</ion-label>
        </ion-item>
        <ion-item (click)="logout()" style="cursor: pointer;">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>{{ 'MENU.logout' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="end" content-id="main-content" menuId="filter" swipe-gesture="false">
    <ion-content class="margin-8 padding-16">
      <div class="margin-16 row space-between" translucent>
        <ion-label>{{ 'FILTER.title' | translate }}</ion-label>
        <span (click)="clearAndReset()" style="display: flex; align-items: center;">
          {{ 'FILTER.clear' | translate }}<ion-icon name="close-outline"></ion-icon></span>
      </div>
      <ion-list>
        <ion-item class="col">
          <ion-label position="stacked">{{ 'FILTER.jobTitle' | translate }}</ion-label>
          <ion-input clearInput placeholder="{{ 'FILTER.jobTitle' | translate }}" [(ngModel)]="jobTitle"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'FILTER.country' | translate }}</ion-label>
          <ionic-selectable
            [(ngModel)]="country"
            [items]="countries"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="countryChange($event)">
          </ionic-selectable>
        </ion-item>
        <ion-item *ngIf="!!country">
          <ion-label>{{ 'FILTER.city' | translate }}</ion-label>
          <ionic-selectable
            [(ngModel)]="city"
            [items]="filteredCities"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="cityChange($event)">
          </ionic-selectable>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'FILTER.domains' | translate }}</ion-label>
          <ionic-selectable
            [(ngModel)]="domain"
            [items]="domains"
            itemValueField="id"
            itemTextField="name_EN"
            [canSearch]="true"
            (onChange)="domainChange($event)">
          </ionic-selectable>
        </ion-item>
        <ion-item class="col">
          <ion-label position="stacked">{{ 'FILTER.experienceLevel' | translate }}</ion-label>
          <ionic-selectable
          [(ngModel)]="level"
          [items]="levels"
          itemValueField="id"
          itemTextField="title"
          [canSearch]="true"
          (onChange)="levelChange($event)">
        </ionic-selectable>
        </ion-item>
        <ion-label class="floating-label" position="floating">{{ 'FILTER.tags' | translate }}</ion-label>
        <ion-item>
          <ion-input clearInput placeholder="{{ 'FILTER.tags' | translate }}" [(ngModel)]="tagInput">
          </ion-input>
          <ion-button slot="end" (click)="addTag()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="tags.length > 0">
            <ion-chip *ngFor="let tag of tags" color="secondary">
              <ion-icon name="tag" color="primary"></ion-icon>
              <ion-label>{{tag}}</ion-label>
              <ion-icon name="close-circle-outline" (click)="clearTag(tag)"></ion-icon>
            </ion-chip>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer class="space-between padding-8">
      <ion-button color="medium" (click)="helper.closeMenu('filter')">
        <ion-label>{{ 'FILTER.cancel' | translate }}</ion-label>
      </ion-button>
      <ion-button (click)="filterJobs()">
        <ion-label>{{ 'FILTER.showFiltered' | translate }}</ion-label>
      </ion-button>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>