@import "../../../../../theme/helper-classes.scss";
:host {
    align-items: center;
    .top-header {
        background-color: rgb(223, 223, 223);
        height: 100px;
        width: 100%;
        .tool-bar {
            width: 100%;
            top: 0;
        }
    }
    .header {
        @include flex-box(column);
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .title-lg {
        margin-top: 8px;
        font-weight: 600;
        @include font-size(10);
    }
    .title-md {
        margin-top: 8px;
        font-weight: 500;
        @include font-size(9);
    }
    .title-sm {
        font-weight: 400;
        @include font-size(7);
        color: rgb(165, 165, 165);
    }
    .title-rg {
        margin-left: 8px;
        font-weight: 400;
        @include font-size(8);
    }
    p {
        @include font-size(8);
    }
    .image-circle {
        margin-top: -30px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: white;
        border: grey 1px solid;
    }

    .center-content {
        @include flex-box(column);
        justify-content: center;
        align-items: center;
        .apply-btn {
            width: 100%;
        }

        .applied-btn {
            width: 100%;
            --background: white;
            --color: var(--ion-custom-color-dark);
            --border-color: var(--ion-custom-color-dark);   
        }
    }

    .chips-box {
        @include flex-box(row);
        flex-wrap: wrap;

        .ion-chip {
            color: #ffffff;
            background-color: var(--ion-custom-color-primary);
            border-radius: 20px;
            padding: 4px 8px;
            @include font-size(8);
        }
    }



}
