<div class="padding-16 top-header"  *ngIf="!!jobDetails">
  <div class="row tool-bar space-between">
    <app-back-button></app-back-button>
    <ion-label>Job Details</ion-label>
    <div></div>
  </div>
</div>
<div class="image-circle"></div>
<ion-content *ngIf="!!jobDetails">
  <div class="header">
    <div class="col">
      <ion-label class="title-lg">{{jobTitle}}</ion-label>
      <ion-label class="title-sm margin-top-4">At {{jobDetails.user.Company_Name}}</ion-label>
      <ion-label class="title-sm margin-top-4">{{jobDetails.country.name}}, {{jobDetails.city.name}}</ion-label>
      <ion-label class="title-sm margin-top-4">{{caculateDays()}}</ion-label>
    </div>
  </div>
  <div class="content-body padding-16">
    <div class="description-box">
      <ion-label class="title-md">Job Description</ion-label>
      <p>{{jobDetails.job_des}}</p>
      <ion-label class="title-md">Experience </ion-label>
      <span class="title-rg"> {{jobDetails.level.title}}</span>
      <div class="margin-8"></div>
      <ion-label class="title-md">Domains </ion-label>
      <span class="title-rg"> {{jobDetails.domains.name_EN}}</span>
      <div class="margin-8"></div>
      <ion-label class="title-md">Skills Required </ion-label>
      <div class="margin-bottom-8 margin-top-8">
        <div class="chips-box">
          <div *ngFor="let tag of jobDetails.tags" class="ion-chip margin-right-4">
            <ion-label>{{tag}}</ion-label>
          </div>
        </div>
        <ion-label class="title-sm" *ngIf="1 > jobDetails.tags.length">
          No skills added</ion-label>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="center-content padding-left-16 padding-right-16 padding-top-8 padding-bottom-8">
  <ion-button [ngClass]="applied ? 'applied-btn' : 'apply-btn'" (click)="applyNow()" [disabled]="applied">
    <ion-label>{{applied ? 'Applied' : 'Apply Now'}}</ion-label>
  </ion-button>
</ion-footer>
