<ion-header> </ion-header>

<ion-content>
  <form class="justify-content-center" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="col align-content-center">
      <ion-img
        style="height: 80px; width: 80px;"
        src="./assets/logo.png"
      ></ion-img>
      <ion-item class="col">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" class="no-padding" formControlName="email" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Email is required.
      </span>
      <ion-item class="col">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
        Password is required.
      </span>
      <ion-button type="submit">Login</ion-button>
      <ion-label class="links margin-top-10">You don't have an account?<span [routerLink]="['/signup']"> Signup</span></ion-label>
      <ion-label class="links margin-top-10"><span>Forgot your passsword?</span></ion-label>
    </div>
  </form>
</ion-content>
