<ion-header> </ion-header>

<ion-content>
  <div class="justify-content-center">
    <div class="col align-content-center">
      <ion-img
        style="height: 80px; width: 80px;"
        src="./assets/logo.png"
      ></ion-img>
      <ion-item class="col">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" class="no-padding"></ion-input>
      </ion-item>
      <ion-item class="col">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button (click)="login('admin@admin.com', 'admin')">Login</ion-button>
      <ion-label class="links margin-top-10">You don't have an account?<span> Signup</span></ion-label>
      <ion-label class="links margin-top-10"><span>Forgot your passsword?</span></ion-label>
    </div>
  </div>
</ion-content>
