<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide-content align-items-center">
        <div class="img-container"></div>
        <div class="text-container margin-32">
          <div class="title-lg margin-bottom-4">We suggest to start as the following</div>
          <div class="title-md dark-color margin-bottom-4">Greetings</div>
          <div class="title-md dark-color margin-bottom-4">Introduce yourself</div>
          <div class="title-sm margin-bottom-4">name, age, city</div>
          <div class="title-md dark-color margin-bottom-4">speak about your education</div>
          <div class="title-sm margin-bottom-4">college degree, extra courses</div>
          <div class="title-md dark-color margin-bottom-4">speak about your experience</div>
          <div class="title-sm margin-bottom-4">past and current experience</div>
          <div class="title-md dark-color margin-bottom-4">speak about yourself too!</div>
          <div class="title-sm margin-bottom-4">skills, voluntary work and hobbies</div>
          <div></div>
          <div class="title-md">Ready, swipe left!</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="header">
        <div class="padding-16 top-header">
          <app-back-button></app-back-button>
          <ion-label class="margin-left-16">Video Recording</ion-label>
        </div>
        <div class="steps-header row padding-16 space-between">
          <div class="row align-items-center">
            <div class="circle off"><span class="title-rg">1</span></div>
            <span class="margin-left-4 margin-right-4 title-sm">Register</span>
          </div>
          <div class="row align-items-center">
            <div class="circle off"><span class="title-rg">2</span></div>
            <span class="margin-left-4 margin-right-4 title-sm">Fill Profile</span>
          </div>
          <div class="row align-items-center">
            <div class="circle activated"><span class="title-rg">3</span></div>
            <span class="margin-left-4 margin-right-4 title-sm">Take The Video</span>
          </div>
        </div>
      </div>
      <div>
        <div class="title-container col margin-8">
          <ion-label class="title-ex">59</ion-label>
          <ion-label class="title-md dark-color">seconds</ion-label>
          <ion-label class="title-sm">Make Every Second Count</ion-label>
        </div>
        <div class="video-container">
          <div class="success margin-16" *ngIf="enablePlay">
            <ion-label>
              <ion-icon name="thumbs-up-outline"></ion-icon>
              All set!
            </ion-label>
          </div>
          <div class="row align-items-center space-between">
            <ion-button size="small" class="padding-left-8" (click)="startRecording()">START RECORDING</ion-button>
            <ion-label class="padding-left-8 warning title-rg" *ngIf="enablePlay">Finish and login!</ion-label>
          </div>
        </div>
      <!-- TODO: still needs a workaround to view video from local storage 
        <div class="video-container">
          <video #video controls style="width: auto; height: auto;" *ngIf="enablePlay" [src]="pathTest" type='video/mp4'></video>
          <div class="row">
            <ion-button (click)="playVideo()" *ngIf="enablePlay">PLAY VIDEO</ion-button>
            <ion-button (click)="startRecording()">START RECORDING</ion-button>
          </div>
          {{pathTest}}
        </div> -->
      </div>
      <div>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>