@import './../../../../theme//helper-classes.scss';

:host {
    .search-box-row {
        align-items: center;
        margin: 8px 16px 16px 8px;
        height: 45px;
        @include flex-box(row);
        ion-button {
            --background: var(--ion-custom-color-dark);
            height: 45px;
        }
    }

    .jobs-list {
        @include flex-box(column);
        align-items: center;
        margin: 0 16px;
    }

    .no-results-label {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}