:host {
    .image-circle {
        height: 32px;
        width: 32px;
        background-color: var(--ion-custom-color-warn);
        border-radius: 50%;
        background-image: url('./../../../assets/placeholder-img.png');
        background-size: contain;
    }
}