@import './../../../../theme//helper-classes.scss';

:host {
    .align-center {
        width: 100%;
        @include flex-box(column);
        justify-content: center;
        align-items: center;
    }
    .show-all-link {
        text-align: end;
        color: white;
        font-weight: 600;
        @include font-size(8);
        span {
            display: flex;
            justify-content: center;
        }
    }

    .lite-text {
        @include font-size(9);
    }

    ion-list {
        ion-icon {
            color: var(--ion-custom-color-dark);
        }
        ion-label {
            color: var(--ion-custom-color-dark);
            font-weight: 600;
        }
    }
    .header {
        background-color: var(--ion-custom-color-dark);
        color: white;
        padding-bottom: 20px;
        ion-icon {
            height: 24px;
            width: 24px;
        }
    }

    .center {
        @include flex-box(column);
        align-items: center;
    }
    
    .greeting-label {
        font-weight: 600;
        @include font-size(11);
    }
    
    .insights {
        ion-icon {
            color: var(--ion-custom-color-warn);
            padding-right: 2px;
            height: 14px;
            width: 14px;
        }
        .small-label {
            @include font-size(7);
            font-weight: 200;
        }
        .med-label {
            font-weight: 600;
            @include font-size(16);
        }
    }

    .lift-up {
        @include flex-box(column);
        background-color: white;
        display: flex;
        flex-grow: 1;
        margin-top: -20px;
    }

    .search-box-row {
        align-items: center;
        margin: 8px 16px 0 8px;
        height: 45px;
        @include flex-box(row);
        ion-button {
            --background: var(--ion-custom-color-dark);
            height: 45px;
        }
    }

    .jobs-list {
        @include flex-box(column);
        align-items: center;
        margin: 8px 16px;
    }

}