@import './../../../../theme//helper-classes.scss';

:host {
    .show-all-link {
        text-align: end;
        width: 100%;
        color: var(--ion-custom-color-primary);
        font-weight: 600;
    }
    .main-content {
        background-color: white;
    }

    ion-list {
        ion-icon {
            color: var(--ion-custom-color-dark);
        }
        ion-label {
            color: var(--ion-custom-color-dark);
            font-weight: 600;
        }
    }
    .header {
        background-color: var(--ion-custom-color-dark);
        color: white;
        padding-bottom: 40px;
        ion-icon {
            height: 24px;
            width: 24px;
        }
    }

    .center {
        @include flex-box(column);
        align-items: center;
    }
    
    .greeting-label {
        font-weight: 700;
        @include font-size(14);
    }
    
    .insights {
        ion-icon {
            color: var(--ion-custom-color-warn);
            padding-right: 3px;
            height: 16px;
            width: 16px;
        }
        .small-label {
            @include font-size(8);
        }
        .med-label {
            font-weight: 700;
            @include font-size(16);
        }
    }

    .lift-up {
        @include flex-box(column);
        background-color: white;
        border-radius: 13px;
        display: flex;
        flex-grow: 1;
        margin-top: -20px;
    }

    .search-box-row {
        align-items: center;
        margin: 8px 16px 0 8px;
        height: 45px;
        @include flex-box(row);
        ion-button {
            --background: var(--ion-custom-color-dark);
            height: 45px;
        }
    }

    .jobs-list {
        @include flex-box(column);
        align-items: center;
        margin: 8px 16px;
    }

}